/data/*.dbf
/data/*.prj
/data/*.shp
/data/*.sbx
/data/*.sbn
/data/*.shp.xml
/data/*.cpg
/data/*.shx
/data/*.tif.xml
/data/*.tfw
/data/*.ovr
/data/*.aux.xml
/data/*.tif
/data/bs_bathy
/data/bts_tows
/data/ai_grid_100m/
/data/Norton_Bathymetry/
/data/goa_bathy/
/data/*.nc
/data/2022_efh_bathy/
/archive/
/data/nos-item-557908/
*_100m.tif
*_100m_3_3.tif
*_100m_5_5.tif